<html>
    <head>
        <title>Criar User</title>
    </head>
    <body>
        <form method="POST" action="{{path('account_create')}}">
            Email: <input type="text" name="email"  value=""/><br />
            Password: <input type="password" name="password"  value="" /><br />
            Confirm: <input type="password" name="teste" value="" /><br />
            Terms: <input type="checkbox" value="" /><br />
            <input type="submit" value="Registrar" />
        </form>
    </body>
</html>