{% extends "HomeHomeBundle::layout.html.twig" %}

{% block content %}
<div id="content"><div class="ic">More Website Templates @ TemplateMonster.com - July 22, 2013!</div>
    <div class="slider-relative">
        <div class="slider-block">
            <div class="slider">
                <ul class="items">
                    <li><img src="{{asset('bundles/homehome/images/slider-1.jpg')}}" alt=""/>
                        <div class="banner">Our Customers are Our Priority</div>
                    </li>
                    <li><img src="{{asset('bundles/homehome/images/slider-2.jpg')}}" alt=""/>
                        <div class="banner">Creative Problem-Solving</div>
                    </li>
                    <li><img src="{{asset('bundles/homehome/images/slider-3.jpg')}}" alt=""/>
                        <div class="banner">Imagination is Our Power</div>
                    </li>
                    <li><img src="{{asset('bundles/homehome/images/slider-4.jpg')}}" alt=""/>
                        <div class="banner">The World of Opportunities</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}